<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про Django</title>
</head>
<body>
    <h2>Мета проекту:</h2>
    <h1>Короткий опис про Django</h1>
    <p>На цьому сайті ви знайдете корисну інформацію про Django - настільки потужний веб-фреймворк для розробки веб-додатків на мові програмування Python,</p>
    <p> можете дізнатися про ключові особливості Django, швидкість розробки, безпеку за замовчуванням, вбудовану адміністративну панель та багато іншого.</p>
    <p>Щоб почати використовувати Django, вам знадобиться встановити Python та Django, створити новий проєкт Django і запустити його веб-сервер.</p>
    <img src="https://media.tenor.com/26UfiWLg2-MAAAAd/funny-animals-cats.gif" alt="Cat" width="347">
    <p>Бажаємо вам приємного використання Django!</p>

</body>
</html>