<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про Django</title>
</head>
<body>
    <h2>Мета проекту:</h2>
    <h1>Короткий опис про Django</h1>
    <p>Джанго настільки швидкий, що, здається, наче ганяється за мишкою. Він має безліч вбудованих</p>
    <p>функцій, як в котів - здатність м'яко приземлятися. Безпека в Джанго - на високому рівні, наче кіт</p>
    <p>ховається від собаки, й що найкраще, він дуже легко налаштовується, як кіт знаходить найкраще місце для сну.</p>
    <img src="https://media.tenor.com/26UfiWLg2-MAAAAd/funny-animals-cats.gif" alt="Cat" width="347">
    <img src="https://media.tenor.com/CotXUeUA978AAAAM/sleepy-tired.gif" alt="Pug" width="250">
    <p>Бажаємо вам приємного використання Django!</p>

</body>
</html>